# Assignment 3
### Name: Zimu Li
### PID: A13897206

Github: https://github.com/zil244/DSC106_SP21

In [1]:
import altair as alt
from vega_datasets import data
import pandas as pd
import numpy as np

##### Read in Dataset

In [2]:
df = pd.read_csv('ukDriverFatalities.csv')

### Problem 1

In [8]:
def switchMonth(month): #Helper function to reformat month
    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
    return months[month]

In [32]:
source = df
df['Month'] = df['month'].apply(switchMonth)
alt.Chart(source, title = 'Road Fatalities in the United Kingdom (1969 - 1984)').mark_rect().encode(
    x=alt.X("year:N", title='Year'), 
    y=alt.Y("Month:O", sort=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'], title="Month of Year"),
    color=alt.Color("count:Q", scale=alt.Scale( range=['green','red']), 
        legend=alt.Legend(title='Fatalities')
    )
)

alt.Chart(...)

### Problem 2

In [36]:
df1 = pd.DataFrame(df.groupby(['year'],as_index=False)['count'].sum())
df1['year']=df1['year'].apply(lambda x: str(x))
df1

    year  count
0   1969  19951
1   1970  21939
2   1971  22309
3   1972  23540
4   1973  23850
5   1974  21460
6   1975  19213
7   1976  19229
8   1977  19363
9   1978  20441
10  1979  19970
11  1980  18932
12  1981  19149
13  1982  19460
14  1983  15472
15  1984  16421

In [42]:
alt.Chart(df1, title = 'Road Fatalities in the United Kingdom (1969 - 1984)').mark_line().encode(
    x=alt.X("year", title='Year',axis=alt.Axis(grid=True)),
    y=alt.Y('count', axis=alt.Axis(grid=True),scale=alt.Scale(domain=[14000,25000], clamp=True)),
)

alt.Chart(...)